body{
    background:url("Whats.jpeg");
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
}

.inner_main_menu{
    margin: 0 auto;
    width: 1170;
}

.inner_main_menu ul{
    margin: 0;
    padding: 80px 0 0;
    list-style: none;
    text-align: right;
}

.inner_main_menu ul li{
    float: none;
    display: inline-block;
}

.inner_main_menu ul li:nth-child(1){
    float: left;
}

.inner_main_menu ul li:nth-child(2){
    float: left;
}

.inner_main_menu ul li:nth-child(3){
    float: left;
}

.inner_main_menu ul li a{
    color: #262625;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.inner_main_menu ul li a:hover{
    color: #66ffdd;
}

#main_menu{
    width: 100%;
    position: relative;
}
.logo{
    width: 15%;
    height: 15%;
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    margin-left: -150px;
    text-align: center;
}
